.cardWrapper{
    display: flex;
}

.cardWhite{
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.43);
    border: none;
    max-width: 320px;
    margin: 0 24px;
}

.cardHead{
    color: #000000;
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
}

.cardBody{
    background-color: #000000;
    padding: 26px 24px 53px;
    font-weight: 100;
}

.cardButton{
    width: 100%;
    min-height: 60px;
    font-size: 1.2rem;
}